html {
	background-color: #00539f;
	font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
body {
	width: 600px;
	margin: 0 auto;
	background-color: #ff9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539f;
	text-align: center;
	text-shadow: 3px 3px 1px black;
}

p,
li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
img {
	display: block;
	margin: auto;
}




<blockquote cite="https://developer.mozilla.org/en-US/docs/Learn/Accessibility"><p><abbr>HTML</abbr>, Hypertext Markup Language is by default accessible, if used correctly.</p></blockquote>

<p><abbr>CSS</abbr>, Cascading Style Sheets, can also be used to make web pages more, or less, accessible.</p>

<p>Chemical Formulae: H<sub>2</sub>O (Water), C<sub>2</sub>H<sub>6</sub>O (Ethanol).</p>

<p>Dates: <time datetime="2019-12-25">December 25<sup>th</sup> 2019</time> (Christmas Day), <time datetime="2019-11-02">November 2<sup>nd</sup> 2019</time> (Día de los Muertos).</p>